**/__pycache__
/Users/KimDongHyeon/Desktop/KMU/2023 Computer Engineering/3-2/캡스톤디자인/Backend/Backend/This/fourtuna/static
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
